footer nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.nav__container {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: skyblue;
  font-size: 1.3rem;
  padding: 1rem;
  bottom: 1px;
  position: relative;
  margin-bottom: -0.5rem;
}

.nav__home {
  position: sticky;
  text-decoration: none;
  color: black;
  border-radius: 15%;
}

.nav__bookmarks {
  text-decoration: none;
  color: black;
  border-radius: 15%;
}

.nav__create {
  text-decoration: none;
  color: black;
  border-radius: 15%;
}

.nav__profile {
  text-decoration: none;
  color: black;
  border-radius: 15%;
}

footer li:hover {
  border-bottom: 1.5px solid black;
  border-radius: 10%;
  cursor: pointer;
  font-weight: bolder;
}

footer li:active {
  color: whitesmoke;
}
