* {
  box-sizing: border-box;
}

:root {
  font-size: 112.5%;
  font-family: "Josefin Sans", sans-serif;
}

body {
  line-height: 1.5;
  display: grid;
  grid-template-rows: 48px auto 48px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
